


<div class="myContainer">
  <div class="row-fluid">
    <div class="span10 offset1" style='padding-right:20px;'>
      <div id="this-carousel-id" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
          <%= render 'websites/carousel_items' %>
        </div>
        <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>
</div>




  <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>

<h1>Listing websites</h1>
<h1>ADMIN ONLY</h1>
<h1>PUT GITHUB REPO ON WEBSITE PAGE</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Image</th>
    <th>Description</th>
    <th>Collaborators</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @websites.each do |website| %>
  <tr>
    <td><%= website.name %></td>
    <td><%= website.url %></td>
    <td><%= website.image %></td>
    <td><%= website.description %></td>
    <td><%= website.collaborators %></td>
    <td><%= link_to 'Show', website %></td>
    <td><%= link_to 'Edit', edit_website_path(website) %></td>
    <td><%= link_to 'Destroy', website, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Website', new_website_path %>

<% end %>
<% end %>