<div class="container">
	<div class="row-fluid">
		<div class="span8">
			<%= render 'about/about' %>
			<dl class="dl-horizontal">
				<button type ="button" class="btn btn-info" data-toggle="collapse" data-target="#mySkills" style="min-width: 100px;">
					Skills
				</button>
				<div id="mySkills" class="collapse">
					<%= render 'about/skills'%>
				</div>
				<button type ="button" class="btn btn-info" data-toggle="collapse" data-target="#myEducation" style="min-width: 100px;">
					Education
				</button>
				<div id="myEducation" class="collapse" >
					<%= render 'about/education' %>
				</div>
				<button type ="button" class="btn btn-info" data-toggle="collapse" data-target="#myExperience" style="min-width: 100px;">
					Experience
				</button>
				<div id="myExperience" class="collapse" >
					<%= render 'about/experience' %>
				</div>
				<button type ="button" class="btn btn-info" data-toggle="collapse" data-target="#contactMe" style="min-width: 100px;">
					Contact Me
				</button>
				<div id="contactMe" class="collapse">
					<%= render 'about/contact_me' %>
				</div>
			</dl>
		</div>
		<div class="span3 offset1">
			<%= render 'about/pic' %>
		</div>
	</div>
</div>

<!--MODALS-->
<%= render 'about/modals_vfx' %>
<%= render 'about/modals_languages' %>
<%= render 'about/modals_renderers' %>
<%= render 'about/modals_programming' %>
<%= render 'about/modals_misc' %>
