    
<%= link_to "Phillip J Simmonds", root_path, :class => 'brand', :style => "font-family:'Love Ya Like A Sister', cursive; color: #3743ED; font-size: 30px" %>
<%= image_tag "pjsim_logo.png", :style => "width: 28px; padding-top: 5px; margin-left: -5px; float: left" %>

<ul class="nav" style="padding-left:50px; color: #3743ED;">
  <li>
  <%= link_to 'My Work', works_path %>
  </li>
  <li>
  <%= link_to 'Showreel', showreel_path %>
  </li>
  <li>
    <%= link_to 'About Me', about_path %>
  </li>



  <% if !user_signed_in? %>
    <!--
    <li style="padding-left:400px">
      <%= link_to 'Login', new_user_session_path %>
    </li> 
    <li>
      <%= link_to 'Sign Up', new_user_registration_path %>
    </li>
    -->
  <% else %>

    <% if current_user.has_role? :admin %>
    <li style="padding-left:250px">
      <%= link_to 'Admin', users_path %>
    </li>
    <li>
      <%= link_to 'Posts', posts_path %>
    </li>
    <% end %>
    <% if !current_user.has_role? :admin %>
    <li style="padding-left:350px">
    <% else %>
    <li>
    <% end %>
      <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <li>
      <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>




  <% end %>


 