<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Phillip J Simmonds" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Phillip J Simmonds" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>

  <body class="<%= controller_name %> <%= action_name %>" style="font-family: 'Noto Sans', sans-serif; font-weight:800px;">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->

    <div class="navbar navbar-fixed-bottom navbar-inverse">
      <div id="footer">
      <nav class="navbar-inner">
        <div class="container">
        </div>
      </nav>
      </div>
    </div>

    <footer>
    <div class="navbar navbar-fixed-bottom navbar-inverse">
        <div class="container">
          <%= render 'layouts/footer' %>
        </div>
      </div>
    </div>

    <div class="myBackground">
      <div class="bg"></div>
    </div>
    </footer>

  </body>
</html>
